/*////////////*/

#error-notice {
  color: #FF8080;
  font-size: 12px;
  padding-bottom: 10%;
  padding-left: 16%;
  text-transform: uppercase;
}

.hotspot-text {
  font-size: calc(1em + 2.5vw);
  text-align: center;
  margin-bottom: 10%;
  margin-top: -3%;
  margin-left: 35%;
  margin-right: 15%;
  color: #3359DD;
  position: relative;
  letter-spacing: 0.3em;
}

.button.large {
  padding: 25px 40px;
  font-size: 18px;
}

.button.primary {
  border-color: transparent;
  background-color: #3359DF;
}

.button {
  border-radius: 4px !important;
  font-family: FFDINWebProMedium;
  display: inline-block;
  font-weight: normal;
  text-align: center!important;
  vertical-align: middle;
  cursor: pointer;
  color: white !important;
  width: 100% !important;
  background-image: none;
  border: 1px solid transparent;
  padding: 15px 25px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-color: transparent;
  background-color: #363636;
}


/*////////////*/

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}


/* LABEL ======================================= */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}


/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}


/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 0px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
}

.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden;
}

.button.narrow {
  width: 60px;
}

.button.green {
  background-color: #0f9d58;
  color: #fff;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media screen and (max-width: 640px) {
  .form {
    /*background-color: black;*/
    margin-top: 40%;
  }
}

@media screen and (max-width: 580px) {
  .form {
    margin-top: 50%;
  }
}


/*@media screen and (max-width: 640px) {
  .form {
    background-color: black;
    margin-top: 50%;
  }
}*/
